<!DOCTYPE html>
<html>
<head>
    <title>Image Search Abstraction Layer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1 class="header">FreeCodeCamp API Basejump: Image Search Abstraction Layer</h1>
    <blockquote>
        <p>User stories:</p>
        <ul>
            <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
            <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
            <li>I can get a list of the most recently submitted search strings.</li>
        </ul>
    </blockquote>

    <h3>Example search usage:</h3>
    <code>https://mks-img-search-al-api.herokuapp.com/imagesearch/lolcats funny?offset=2</code>

    <h3>Example search output</h3>
    <code>
        [<br>
            {<br>
                "url": "http://www.lolcats.com/images/u/08/50/lolcatsdotcomrq4lywopmz2tyzsb.jpg",<br>
                "snippet": "Ehh.. A Wize Guy Heh?",<br>
                "thumbnail": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRwC1Qu-zMGPmny2gkfRQHiZOy8-Jp46SUBmmuwdfq0yD6J_lBSzt-xBQ",<br>
                "context": "http://www.lolcats.com/page-6.html"<br>
            },<br>
            {<br>
                "url": "http://data.whicdn.com/images/17561072/funny-pictures-marshmallows_large.jpg",<br>
                "snippet": "Hall Of Fame Lolcats 39 N",<br>
                "thumbnail": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjFazFat4V8qWOWaZf2UtPsxZqz9RkOHX2mpHQ9PlOTIX7Z20MrPBoa0I",<br>
                "context": "http://lovelydogandcat.thesocialmediastore.net/lolcats-images-funny/"<br>
            }<br>
        ]
    </code>

    <h3>Latest Queries Usage:</h3>
    <code>https://mks-img-search-al-api.herokuapp.com/latest/imagesearch/</code>

    <h3>Latest Queries Output:</h3>
    <code>
        [<br>
            {<br>
                "term": "new year australia",<br>
                "when": "2017-01-03T08:10:21.303Z"<br>
            },<br>
            {<br>
                "term": "brisbane river festival",<br>
                "when": "2017-01-03T08:10:09.343Z"<br>
            },<br>
            {<br>
                "term": "gold coast",<br>
                "when": "2017-01-03T08:10:01.905Z"<br>
            },<br>
            {<br>
                "term": "lone pine koala sanctuary",<br>
                "when": "2017-01-03T08:09:52.109Z"<br>
            },<br>
            {<br>
                "term": "sunrise scene",<br>
                "when": "2017-01-03T08:09:39.381Z"<br>
            },<br>
            {<br>
                "term": "garden",<br>
                "when": "2017-01-03T08:09:30.444Z"<br>
            },<br>
            {<br>
                "term": "sunshine",<br>
                "when": "2017-01-03T08:09:19.951Z"<br>
            },<br>
            {<br>
                "term": "flowers",<br>
                "when": "2017-01-03T08:09:09.823Z"<br>
            },<br>
            {<br>
                "term": "freecodecamp",<br>
                "when": "2017-01-03T08:08:57.684Z"<br>
            },<br>
            {<br>
                "term": "lolcats funny",<br>
                "when": "2017-01-03T08:07:49.561Z"<br>
            }<br>
        ]
    </code>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>